.scoreboard {
    height: 100vh;
}

.scoreboard-element {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
}

.score-element {
    display: flex;
    column-gap: 3em;
    justify-content: space-between;
}

.team-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-team-name {
    font-size: 2em;
    text-align: center;
}

.score-score {
    font-size: 10em;
}

.resize-handle {
    height: 5px;
    width: 5px;
    background-color: black;
    position:absolute;
    top: 50%;
    left: 50%;
}

.left{
    left:0%
}

.right{
    left: auto;
    right: 0%;
}

.top {
    top:0%;
}

.bottom {
    top: auto;
    bottom: 0%;
}

.drag-handle {
    cursor: move;
}

.left, .right {
    cursor: ew-resize;
}

.top, .bottom {
    cursor: ns-resize;
}

.top.left, .bottom.right {
    cursor: nwse-resize;
}

.top.right, .bottom.left {
    cursor: nesw-resize;
}

.scoreboard-edit-bar {
    display: flex;
    column-gap: 1em;
    width: min-content;
    position: absolute;
    top: 1em;
    right: 1em;
}