<?xml version="1.0" encoding="utf-8"?>
<template id="template" xml:space="preserve">
    
    <t t-name="app" owl="1">
        <div class="app-screen screen">
            <MatchList t-if="checkMatchListRoute" onMatchItemClick="matchItemClickHandler"/>
            <Scoreboard t-if="checkScoreBoardRoute" match="getMatchData" onMatchListClick="matchListButtonHandler"/>
        </div>
    </t>

</template>